@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4" style="max-width:450px;">

    <div class="card">
        <div class="card-header">
            <h4>Change Password</h4>
        </div>

        <div class="card-body">

            <form method="post">

                <div class="mb-3">
                    <label>Old Password</label>
                    <input name="oldPassword" type="password" class="form-control" />
                </div>

                <div class="mb-3">
                    <label>New Password</label>
                    <input name="newPassword" type="password" class="form-control" />
                </div>

                <button class="btn btn-warning w-100">
                    Change Password
                </button>

            </form>

        </div>
    </div>

</div>